BasedOnStyle: WebKit
TabWidth: 2
IndentWidth: 2
UseTab: Always

---
Language: Cpp

# declaration
DerivePointerAlignment: false
PointerAlignment: Left

# alignment
NamespaceIndentation: All

AlignAfterOpenBracket: Align

# line
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1

DerivePointerAlignment: true

# line break
AllowShortBlocksOnASingleLine: true

AllowShortCaseLabelsOnASingleLine: false
AllowAllArgumentsOnNextLine: false

AllowAllArgumentsOnNextLine: true

AllowAllConstructorInitializersOnNextLine: true

AllowShortFunctionsOnASingleLine: None

AllowShortLambdasOnASingleLine: false

AlwaysBreakBeforeMultilineStrings: true

BreakBeforeBraces: Attach

IndentCaseLabels: true

KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1

BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 1

BreakInheritanceList: BeforeColon # TODO: fix
